$red-primary: #cc1414;
$gray-primary: #333;
$header-hover: #1a1a1a;
$white-primary: #ffffff;
$font-default: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$light-grey: #908585;

$rootPages: (
  width: 100vw,
  height: 76vh,
  overflowY: auto,
);